* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition:0.2s ease-out;
}


body {
  max-width:1200px;
  margin:auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size:16px;
  font-style: normal;
  padding: 40px 20px;
  line-height: 1.5;
}

section {margin-bottom:50px;padding:0 40px;}
@media (max-width:767px) {
  section {margin-bottom:50px;padding:0 20px;}
}


/* TEXT */

h1 {font-size:48px;}
h2 {font-size:24px;margin-bottom:12px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5 {font-size:16px;}


ul {
  list-style: disc;
  padding-left:17px;
}

a {text-decoration: none;}


/* PAGE SECTIONS */

header {padding:20px 40px 0 40px;
  display:flex;flex-wrap:wrap;margin-bottom:30px;
}
@media (max-width:767px) {
  header {padding:20px 20px 0 20px;}
}




.ingredient-name {
  font-weight: 500;
}

.ingredient-qty {
  font-variant-numeric: tabular-nums;
}


