/* HEADER */
header {gap:30px 10px;}
header .HeaderBtn {width:calc(50% - 5px);padding:5px 10px;background-color:#f7f4f2;border-radius:10px;text-decoration:none;}
header h1 {width:100%;}



/* SUMMARY */
.recipe-info ul {padding-left:0px;display:flex;flex-direction:row;flex-wrap:wrap;gap:10px;list-style: none;}
.recipe-info li {background-color:#24948a20; border-radius:10px;
  width:calc(25% - (30px / 4));display: flex;flex-direction: column;padding: 5px 10px;
}
.recipe-info .Type {font-size:15px;font-weight:500;}
.recipe-info .Res {font-size:18px;}

@media (max-width:549px) {
  .recipe-info li {width:calc(33% - (17px / 3));}
  .recipe-info li.Oven {width:100%;}
}

/* INGREDIENTS */
#Ingredients {
  border-radius:40px;
  background-color:#f7f4f2;
  padding-top:34px;padding-bottom:40px;
  display:flex;flex-direction:column;
  position:relative;
}

.scale-controls {
  position:absolute;top:40px;right:40px;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.scale-controls button {
  height:40px;width:40px;display:flex;justify-content:center;align-items: center;
  border: 1px solid #ccc;
  background: #FFF;
  cursor: pointer;
  opacity:0.5;
  font-weight:600;font-size:18px;border-radius:10px;
}
.scale-controls button:hover {opacity:0.75}
.scale-controls button.active {
  background: #FFF;
  opacity:1;
}


#ingredient-groups {
    display:flex;flex-direction:row;flex-wrap:wrap;gap:10px;width:100%;
}

#ingredient-groups h3 {padding-bottom:5px;width:100%;border-bottom:2px solid #eae8e6;}

.ingredient-list {
    display:flex;flex-direction:row;flex-wrap:wrap;gap:10px;width:100%;
}

.ingredient-item {
    background-color:#FFF;width:calc(50% - 5px);border-radius:10px;min-height:60px;
    /* OLD */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease, opacity 0.2s ease;
    padding:10px;
}


.ingName {display:flex;flex-direction:column;line-height: 1.25;}
.ingTitle {font-weight:400;}
.ingNote {font-size:14px;}


.ingredient-item:hover {
  background: #FFFFFF75;
}

.ingredient-item.checked {
  background: #fbfaf9;
  opacity: 0.6;
  text-decoration: line-through;
}

@media (max-width:767px) {
  #Ingredients {border-radius:20px;padding-top:20px;padding-bottom:20px;}
  .scale-controls {top:20px;right:20px;}
  .ingredient-item {width:100%;}
}


/* -------------------- METHOD -------------------- */
#Method {}


/* RECIPE RENDERING */

.method-step {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;

  margin-bottom: 25px;
}

.method-step h3 {width:100%;padding-bottom:5px;}











.no-uses {
  color: #aaa;
}

/* Mobile: stack columns */
.sub-method {
}

.sub-step {
  opacity: 0.95;
}

.sub-method .method-step {
  grid-template-columns: 1fr 2fr;
}

@media (max-width:767px) {
  #Method {}
}


/* GENERATED, TO SORT */
.method {counter-reset:step;list-style:none;padding-left:0;}
.method > li {counter-increment:step;margin-bottom:24px;}
.method > li::before {width:100%;content:"Step " counter(step);display:block;font-weight:600;margin-bottom:10px;}

.sub-method > li::before {
  content: "Sub-step " counter(step);
  font-size: 0.9em;
  opacity: 0.8;
}

@media (min-width:768px) {
.step-uses, .step-text {width:50%;}
.step-uses {border-right:2px solid #f1efec;padding-right:15px;}
.step-text {padding-left:15px;}}
@media (max-width:767px) {
.step-uses, .step-text {width:100%;}
.step-uses ul {border-bottom:2px solid #f1efec;padding-bottom:10px;margin-bottom:10px;}
.method > li {margin-bottom:32px;}
}


/* NOTES */
#Notes {
  border-radius:40px;
  background-color:#eae8e6;
  padding-top:34px;padding-bottom:40px;
}
@media (max-width:767px) {
  #Notes {
    border-radius:20px;
    background-color:#eae8e6;
    padding-top:20px;padding-bottom:20px;
  }
}